Node-RED-environment_flows.json
[{"id":"6cedf7ff.02e928","type":"tab","label":"Environment","disabled":false,"info":""},{"id":"cad2341a.d07c38","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#15aaaa","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#15aaaa","edited":true},"page-titlebar-backgroundColor":{"value":"#15aaaa","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#27e4e4","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#15aaaa","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8685438.10e83c","type":"ui_tab","z":"","name":"Room Environment","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"796fad15.b4c2e4","type":"serial-port","z":"","serialport":"/dev/rfcomm1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"aa97a8c5.73fe68","type":"ui_group","z":"","name":"Room current measures","tab":"8685438.10e83c","order":1,"disp":true,"width":"7","collapse":true},{"id":"a4841066.56197","type":"tls-config","z":"","name":"DefaultSSL","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"28f00a56.82d7b6","type":"mqtt-broker","z":"","name":"mosqitto","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb75c682.daa298","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"iotdb","name":"","usetls":false,"tls":"a4841066.56197"},{"id":"4ccc3581.a89adc","type":"ui_group","z":"","name":"Plants humidity measures","tab":"8685438.10e83c","order":3,"disp":true,"width":"7","collapse":true},{"id":"28bbfe6a.454bd2","type":"serial-port","z":"","serialport":"/dev/ttyUSB1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"89afd019.8d401","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"a836285.053d3d8","type":"ui_group","z":"","name":"Outside current measures","tab":"8685438.10e83c","order":2,"disp":true,"width":"7","collapse":true},{"id":"e63eb5b7.791568","type":"debug","z":"6cedf7ff.02e928","name":"ReadSerialUSB","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":220,"y":120,"wires":[]},{"id":"2590248.e9cd3dc","type":"function","z":"6cedf7ff.02e928","name":"msgTemperature","func":"msg.payload = msg.payload.Temperature;\nmsg.topic = \"Temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["73ce879b.1ba988","79bbe41b.9b15dc"]]},{"id":"8f3b8d94.96091","type":"json","z":"6cedf7ff.02e928","name":"","property":"payload","action":"obj","pretty":true,"x":250,"y":80,"wires":[["2590248.e9cd3dc","c0d04b46.d04c48"]]},{"id":"c0d04b46.d04c48","type":"function","z":"6cedf7ff.02e928","name":"msgHumidity","func":"msg.payload = msg.payload.Humidity;\nmsg.topic = \"Humidity\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["5d7e492c.ae3928","36d554cc.e7aacc"]]},{"id":"1a56f262.b6658e","type":"mqtt in","z":"6cedf7ff.02e928","name":"mqttBrokerTemperature","topic":"Temperature","qos":"2","datatype":"json","broker":"28f00a56.82d7b6","x":120,"y":200,"wires":[["5ac2c64f.9b8dd8","b193f905.ce5b08"]]},{"id":"73ce879b.1ba988","type":"mqtt out","z":"6cedf7ff.02e928","name":"mqttClientTemperature","topic":"Temperature","qos":"","retain":"","broker":"28f00a56.82d7b6","x":740,"y":120,"wires":[]},{"id":"5ac2c64f.9b8dd8","type":"debug","z":"6cedf7ff.02e928","name":"mqttTemperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":260,"wires":[]},{"id":"29ac00.810a44","type":"mqtt in","z":"6cedf7ff.02e928","name":"mqttBrokerHumidity","topic":"Humidity","qos":"2","datatype":"auto","broker":"28f00a56.82d7b6","x":110,"y":300,"wires":[["c34ae15d.2a1de","cc4d8626.746a08"]]},{"id":"5d7e492c.ae3928","type":"mqtt out","z":"6cedf7ff.02e928","name":"mqttClientHumidity","topic":"Humidity","qos":"","retain":"","broker":"28f00a56.82d7b6","x":710,"y":60,"wires":[]},{"id":"c34ae15d.2a1de","type":"debug","z":"6cedf7ff.02e928","name":"mqttHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":170,"y":360,"wires":[]},{"id":"b193f905.ce5b08","type":"function","z":"6cedf7ff.02e928","name":"transformTemp","func":"var Temperature = (msg.payload);\n\n// var temperature = 11;\nmsg.payload = [{\n// temperature,\nsensor: parseFloat(Temperature),\n// Type: temperature\n}]\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["d99142ad.966c4","af61e0d3.44d78"]]},{"id":"d99142ad.966c4","type":"debug","z":"6cedf7ff.02e928","name":"outTranformTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":240,"wires":[]},{"id":"5deb552e.63756c","type":"serial in","z":"6cedf7ff.02e928","name":"SerUSB1","serial":"28bbfe6a.454bd2","x":80,"y":80,"wires":[["e63eb5b7.791568","8f3b8d94.96091"]]},{"id":"cc4d8626.746a08","type":"function","z":"6cedf7ff.02e928","name":"transformHum","func":"var Humidity = (msg.payload);\n\n// var humidity = 11;\nmsg.payload = [{\n// humidity,\nsensor: parseFloat(Humidity),\n// Type: humidity\n}]\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["95de1428.bcebc8","c1fc3354.a71cf"]]},{"id":"95de1428.bcebc8","type":"debug","z":"6cedf7ff.02e928","name":"outTransformHum","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":340,"wires":[]},{"id":"af61e0d3.44d78","type":"influxdb out","z":"6cedf7ff.02e928","influxdb":"fb75c682.daa298","name":"tempInDB","measurement":"Temperature","precision":"","retentionPolicy":"","x":640,"y":240,"wires":[]},{"id":"c1fc3354.a71cf","type":"influxdb out","z":"6cedf7ff.02e928","influxdb":"fb75c682.daa298","name":"humInDB","measurement":"Humidity","precision":"","retentionPolicy":"","x":640,"y":300,"wires":[]},{"id":"36d554cc.e7aacc","type":"ui_gauge","z":"6cedf7ff.02e928","name":"currentHumidity","group":"aa97a8c5.73fe68","order":2,"width":0,"height":0,"gtype":"wave","title":"Indoor Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":20,"wires":[]},{"id":"79bbe41b.9b15dc","type":"ui_gauge","z":"6cedf7ff.02e928","name":"currentTemperature","group":"aa97a8c5.73fe68","order":1,"width":0,"height":0,"gtype":"wave","title":"Indoor Temperature","label":"C°","format":"{{value}}","min":"-5","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":180,"wires":[]},{"id":"365fd31c.7d5a6c","type":"debug","z":"6cedf7ff.02e928","name":"ReadSerialBT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":280,"y":460,"wires":[]},{"id":"36237b54.fefe34","type":"json","z":"6cedf7ff.02e928","name":"json","property":"payload","action":"obj","pretty":false,"x":310,"y":420,"wires":[["10e54d2d.fc3f23"]]},{"id":"10e54d2d.fc3f23","type":"function","z":"6cedf7ff.02e928","name":"msgPlantHumidity","func":"msg.payload = msg.payload.Percentage;\nmsg.topic = \"Plants Humidity\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["22da6a81.8df326","73239226.d6333c","7f45122a.5d666c"]]},{"id":"fe4eb576.8b8198","type":"comment","z":"6cedf7ff.02e928","name":"Plant pot 1 Workflow","info":"","x":110,"y":420,"wires":[]},{"id":"57ae822.90f187c","type":"comment","z":"6cedf7ff.02e928","name":"Room Thermometer Indoor Workflow","info":"","x":160,"y":40,"wires":[]},{"id":"22da6a81.8df326","type":"debug","z":"6cedf7ff.02e928","name":"outJsonPlantHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":480,"wires":[]},{"id":"73239226.d6333c","type":"ui_gauge","z":"6cedf7ff.02e928","name":"plantHumPot1","group":"4ccc3581.a89adc","order":1,"width":0,"height":0,"gtype":"wave","title":"Plant humidity pot 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":380,"wires":[]},{"id":"33c862ab.ed040e","type":"serial in","z":"6cedf7ff.02e928","name":"SerACM0","serial":"89afd019.8d401","x":80,"y":460,"wires":[["365fd31c.7d5a6c","36237b54.fefe34"]]},{"id":"7f45122a.5d666c","type":"mqtt out","z":"6cedf7ff.02e928","name":"mqttClientPlantHumidityPot1","topic":"Plants Humidity","qos":"","retain":"","broker":"28f00a56.82d7b6","x":760,"y":420,"wires":[]},{"id":"138a3ee.ab8d4c1","type":"mqtt in","z":"6cedf7ff.02e928","name":"mqttBrokerPlantHumidity","topic":"Plants Humidity","qos":"2","datatype":"auto","broker":"28f00a56.82d7b6","x":130,"y":520,"wires":[["e20e1f7b.5c30c","4d07f1ae.5a8ff"]]},{"id":"e20e1f7b.5c30c","type":"debug","z":"6cedf7ff.02e928","name":"mqttPlantHumidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":580,"wires":[]},{"id":"4d07f1ae.5a8ff","type":"function","z":"6cedf7ff.02e928","name":"transformPlantHum","func":"var PlantHumidity = (msg.payload);\nmsg.payload = [{\nsensor: parseFloat(PlantHumidity),\n}]\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["4664483.c1332b8","f2b72451.5eb578"]]},{"id":"4664483.c1332b8","type":"debug","z":"6cedf7ff.02e928","name":"outTransformPlantHum","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":580,"wires":[]},{"id":"f2b72451.5eb578","type":"influxdb out","z":"6cedf7ff.02e928","influxdb":"fb75c682.daa298","name":"plantHumInDB","measurement":"PlantHumidity","precision":"","retentionPolicy":"","x":660,"y":540,"wires":[]},{"id":"642ab833.9c4768","type":"debug","z":"6cedf7ff.02e928","name":"extTempNodeMCU","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":150,"y":740,"wires":[]},{"id":"cf867989.87ae88","type":"mqtt in","z":"6cedf7ff.02e928","name":"","topic":"extTemperature","qos":"0","datatype":"json","broker":"28f00a56.82d7b6","x":100,"y":680,"wires":[["642ab833.9c4768","881574fc.84f918"]]},{"id":"37251859.143e08","type":"comment","z":"6cedf7ff.02e928","name":"External Thermometer NodeMCU","info":"","x":150,"y":640,"wires":[]},{"id":"7e9ab9d4.77dae8","type":"function","z":"6cedf7ff.02e928","name":"extTemp","func":"var Temperature = (msg.payload.Temperature);\nmsg.payload = [{\nsensor: parseFloat(msg.payload.Temperature),\n}]\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":660,"wires":[["12f12ad2.180a05","47be0019.74b97","242b35a3.3c3caa"]]},{"id":"12f12ad2.180a05","type":"debug","z":"6cedf7ff.02e928","name":"outTransformExtTemp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":700,"wires":[]},{"id":"881574fc.84f918","type":"json","z":"6cedf7ff.02e928","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":680,"wires":[["7e9ab9d4.77dae8","85f09afb.54c778"]]},{"id":"85f09afb.54c778","type":"function","z":"6cedf7ff.02e928","name":"extHum","func":"var Humidity = (msg.payload.Humidity);\nmsg.payload = [{\nsensor: parseFloat(msg.payload.Humidity),\n}]\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":740,"wires":[["6f4ca465.37bc6c","6be6ad7.a771854","ff43fb84.3603a8"]]},{"id":"6f4ca465.37bc6c","type":"debug","z":"6cedf7ff.02e928","name":"outTransformExtHum","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":400,"y":800,"wires":[]},{"id":"47be0019.74b97","type":"influxdb out","z":"6cedf7ff.02e928","influxdb":"fb75c682.daa298","name":"extTempInDB","measurement":"ExternalTemperature","precision":"","retentionPolicy":"","x":680,"y":660,"wires":[]},{"id":"6be6ad7.a771854","type":"influxdb out","z":"6cedf7ff.02e928","influxdb":"fb75c682.daa298","name":"extHumInDB","measurement":"ExternalHumidity","precision":"","retentionPolicy":"","x":670,"y":740,"wires":[]},{"id":"b8e71eee.3878b","type":"ui_gauge","z":"6cedf7ff.02e928","name":"outCurrentTemp","group":"a836285.053d3d8","order":0,"width":0,"height":0,"gtype":"wave","title":"Oustide Temperature","label":"C°","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":600,"wires":[]},{"id":"a688d048.6f3be","type":"ui_gauge","z":"6cedf7ff.02e928","name":"outCurrentHum","group":"a836285.053d3d8","order":0,"width":0,"height":0,"gtype":"wave","title":"Oustide Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":800,"wires":[]},{"id":"242b35a3.3c3caa","type":"function","z":"6cedf7ff.02e928","name":"outCurremtTemp","func":"msg.payload = msg.payload[0].sensor;\nmsg.topic = \"Outdoor Temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":620,"wires":[["b8e71eee.3878b"]]},{"id":"ff43fb84.3603a8","type":"function","z":"6cedf7ff.02e928","name":"outCurremtHum","func":"msg.payload = msg.payload[0].sensor;\nmsg.topic = \"Outdoor humidity\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":800,"wires":[["a688d048.6f3be"]]}]